# dependencies
/node_modules
/.pnp
.pnp.js

# testing & coverage
/coverage
/test-results
/playwright-report
/junit.xml

# production builds
/build
/dist
.cache/
.eslintcache

# environment files (keep examples only)
.env
.env.*
!.env.example
!.env.development.example
!.env.test.example
!.env.production.example

# misc
.DS_Store
Thumbs.db
frontend.log
*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
